*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.contenedor{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    
}

.datos{
    padding: 5px;
    margin: 20px;
}
h3{
    margin: 5px 0px;
}
.movimientos{
    padding: 0px;
    margin: 5px;
    /* background-color: aqua; */
}
.conteinerMo{
    padding: 0px;
    margin: 5px;
    /* background-color: yellow; */
}
.buttonMo{
    padding: 5px;
    margin: 0px 5px;
}
.matrizCont{
    background-image: url(../public/img/Matriz.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
}